<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    Property Forest
  </div>
  <!-- Default to the left -->
  CS5224: Cloud Computing - Assignment 2
</footer>
